* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h1 {
  font-size: 1.7rem;
  color: #fff;
  margin: 1.5rem 0;
}

.todo-app {
  background: #161a2b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  text-align: center;
  margin: 9rem auto;
  border-radius: .7rem;
  padding-bottom: 2rem;
}

.todo-form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.todo-input {
  width: 60%;
  padding: .8rem 2rem .8rem 2rem;
  border: 2px solid #5d0cff;
  border-radius: .5rem 0 0 .5rem;
  outline: none;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-btn {
  width: 20%;
  border: none;
  border-radius: 0 .5rem .5rem 0;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}