* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

h1 {
  font-size: 1.7rem;
  color: #fff;
  margin: 1.5rem 0;
}

.todo-app {
  background: #161a2b;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  text-align: center;
  margin: 9rem auto;
  border-radius: .7rem;
  padding-bottom: 2rem;
}